<nav class="navbar-top">
  <div class="nav-l">
      <li class="img-search">
        <div class="logo-text">
          <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_8d85f4.png" alt="" height="22px" width="75px">
          <br>
          <span>Explore Plus</span>
        </div>
        <div class="n-search-logo">
          <input type="text" name="" value="" placeholder="Search for product, brand and more">
          <%= icon("search", class: "s-icon") %>
        </div>
      </li>
      <li class="l-button"><span>Login</span></li>
      <li class="more-icon">
        <div class="popover__wrapper">
          <a href="#">
            <span class="popover__title">More</span>
          </a>
          <div class="popover__content">
            <div class="popover-option">
              <span >New customer?</span>
              <span class="pl-5 text-primary">Sign Up</span>
            </div>
            <hr>
            <div class="popover-option">
              <span class=""> <%= icon("person-circle", class: "login-p-icon") %></span>
              <span class="popover-text">My Profile</span>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%= icon("plus-circle", class: "login-p-icon") %></span>
              <span class="popover-text" >Flipkart Plus Zone</span>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%= icon("wallet-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Order</span>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%= icon("heart-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Wishlist</span>
            </div>
            <hr>
            <div class="popover-option">
              <span > <%= icon("hdd-rack-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Rewards</span>
            </div>
            <hr>
            <div class="popover-option">
              <span> <%= icon("gift-fill", class: "login-p-icon") %></span>
              <span class="popover-text">Gift Cards</span>
            </div>
          </div>
        </div>
       <%= icon("chevron-down", class: "down-icon") %>
      </li>
      <li class="cart-icon"><%= icon("cart-fill", class: "c-icon") %> <span> Cart</span></li>
  </div>
</nav>
